
/* font-style */

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
body{
  font-family: "Poppins", sans-serif;

}

/* Nav-bar section */

.nav-bar{
    display: flex;
    gap: 56px;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}

.nav-bar .anchor{
    display: flex;
    gap: 24px;
}

.anchor a{
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 16p;
    font-weight: 500;
    color: #707070;
}

.nav-bar input{
    width: 508.94px;
    height: 48px;
    background-color: #F1F1F1;
    border-radius: 66px;
    padding-left: 12px;

}

.nav-bar img{
    width: 159px;
    height: 30px;   
    
}

input::placeholder{
    font-family: "Poppins", sans-serif;
}

/* Banner section */
.main-banner{
    display: flex;
    margin: 0 auto;
    gap: 141px;
    max-width: 1212px;
    height: 455px;
    background-color: #FEEAE9;
    margin-top: 65px;
    margin-bottom: 65px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;

    
}

.main-banner h1{
    font-size: 56px;
    font-weight: bold;
    color: #1F1F1F;

    
}

.main-banner h2{
    font-size: 41px;
    color: #FF136F;
    font-weight: 500;
    font-size: 41px;

}

.main-banner p{
    font-family: "Inter", sans-serif;
    color: #4E4E4E;
    font-size: 16px;
}

.main-banner .text{
    padding-left: 46px;
    padding-top: 68px;
    padding-bottom: 68px;
}
.main-banner .image img{
    width: 402px;
    height: 378px;
    border-radius: 20px;
    margin-top: 38px;
    margin-right: 63px;

}

.main-banner .text button{
    width: 168px;
    height: 52px;
    border-radius: 6px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    background-image: linear-gradient(#FF589B, #FF136F);
    border: none;
}

/* Categories Section */
.categories{
    display: flex;
    flex-direction: column;
    width: 1128px;
    height: 198px;
    margin: 0 auto;
    margin-bottom: 98px;
    
}

.categories section{
    display: flex;
    gap: 26px;
}

.cards0{
    display: flex;
    justify-content: space-around;
    width: 359px;
    height: 120px;
    background-image: linear-gradient(#FF9C35,#FFD019);
    border-radius: 15px;
    padding: 15px;
}

.cardsh1{
    font-size: 36px;
    font-weight: 500;
    color: #FFFFFF;
}

.cards1{
    display: flex;
    justify-content: space-around;
    width: 359px;
    height: 120px;
    background-image: linear-gradient(#FF589B, #FF136F);
    border-radius: 15px;
    padding: 15px;
}
.cards2{
    display: flex;
    justify-content: space-around;
    width: 359px;
    height: 120px;
    background-image: linear-gradient(#4289FF, #3F07F8);
    border-radius: 15px;
    padding: 15px;
}

/* Middle background */
.background{
    background-color: #F4F4F4;
    height: 1486px;
}

.see-all{
    display: flex;
    justify-content: space-between;
}

.see-all a{
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    color: #FF9D00;
    font-weight: 500;
    font-size: 20px;
    margin-top: 20px;
}

/* Shoe Section */
.shoes-container{
    width: 1128px;
    height: 610px;
    margin: 0 auto;
    margin-bottom: 130px;
}

.mother{
    display: flex;
    gap: 24px;
    text-align: center;
}

.shoe-card{
    width: 360px;
    height: 532px;
    border: 1px solid rgba(0, 0, 0, 0.075);
    border-radius: 20px;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.233);
    padding: 12px;
}

.shoe-card img{
    width: 326px;
    height: 202px;
}

.shoe-card button{
    width: 168px;
    height: 52px;
    background-color: #000000;
    border: none;
    border-radius: 6px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: #FFFFFF;
    font-size: 16px;
}

.bag-card{
    width: 360px;
    height: 532px;
    border: 1px solid rgba(0, 0, 0, 0.075);
    border-radius: 20px;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.233);
    padding: 12px;
}

.bag-card button{
    width: 168px;
    height: 52px;
    background-color: #000000;
    border: none;
    border-radius: 6px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: #FFFFFF;
    font-size: 16px;
}

.bag-card img{
    width: 290px;
    height: 260px;
}